.App {
display: flex;
flex-direction: column;
align-items: center;
}

.courseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  width: 25%;
  background-color: rgb(19, 58, 58);
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgb(19, 58, 58);
}